In [1]:
!pip install -r requirements.txt

Requirement already satisfied: pandas==2.0.0 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from -r requirements.txt (line 1)) (2.0.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas==2.0.0->-r requirements.txt (line 1)) (2021.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas==2.0.0->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas==2.0.0->-r requirements.txt (line 1)) (1.21.4)

WARNING: Ignoring invalid distribution -rpcio (c:\users\admin\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rpcio (c:\users\admin\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rpcio (c:\users\admin\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rpcio (c:\users\admin\appdata\local\programs\python\python310\lib\site-packages)

Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from pandas==2.0.0->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.0.0->-r requirements.txt (line 1)) (1.16.0)

WARNING: Ignoring invalid distribution -rpcio (c:\users\admin\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rpcio (c:\users\admin\appdata\local\programs\python\python310\lib\site-packages)
WARNING: You are using pip version 21.3.1; however, version 23.2.1 is available.
You should consider upgrading via the 'C:\Users\Admin\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd

In [3]:
'''
HateSpeechDataset Features:
count: number of CrowdFlower users who coded each tweet (min is 3, sometimes more users coded a tweet when judgments were determined to be unreliable by CF)
hate_speech: number of CF users who judged the tweet to be hate speech
offensive_language: number of CF users who judged the tweet to be offensive
neither: number of CF users who judged the tweet to be neither offensive nor non-offensive
class: class label for majority of CF users. 0 - hate speech 1 - offensive language 2 - neither
tweet: text tweet
'''
HateSpeechDataset = pd.read_csv('datasets/Hate_Speech_and_Offensive_Language_Dataset.csv')

'''
DynamicallyGeneratedDataset Features:
The features were not explained in Kaggle
'''
DynamicallyGeneratedDataset = pd.read_csv('datasets\Dynamically_Generated_Hate_Dataset_Entries.csv')

In [4]:
display(HateSpeechDataset.sample(10))
display(HateSpeechDataset.info())
display(HateSpeechDataset.describe())

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
14235,14576,3,3,0,0,0,RT @Asshole_God: Hate fags? The answer's yes.
7110,7309,3,2,1,0,0,@t5_harris Are you working on route running an...
24771,25284,3,0,3,0,1,you look like your 12 stop talking about fucki...
15077,15434,3,0,3,0,1,RT @Durags4Eva: Bulls still not winning the ti...
20830,21281,3,0,3,0,1,Shut up hoe
18078,18482,3,0,3,0,1,RT @WitchoThirstyAz: I love being loyal to one...
1306,1334,3,0,2,1,1,&#8220;@Highfromthe90s: A lot of women who cla...
7787,8006,3,0,3,0,1,Any pussy I had I can get again!
11434,11727,3,0,3,0,1,I've been sleeping with my mom for the past fe...
5340,5496,3,0,3,0,1,@_Rachel_Robbins is the realest bitch out here rt

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          24783 non-null  int64
 1   count               24783 non-null  int64
 2   hate_speech         24783 non-null  int64
 3   offensive_language  24783 non-null  int64
 4   neither             24783 non-null  int64
 5   class               24783 non-null  int64
 6   tweet               24783 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.3+ MB

None

,Unnamed: 0,count,hate_speech,offensive_language,neither,class
count,24783.000000,24783.000000,24783.000000,24783.000000,24783.000000,24783.000000
mean,12681.192027,3.243473,0.280515,2.413711,0.549247,1.110277
std,7299.553863,0.883060,0.631851,1.399459,1.113299,0.462089
min,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
25%,6372.500000,3.000000,0.000000,2.000000,0.000000,1.000000
50%,12703.000000,3.000000,0.000000,3.000000,0.000000,1.000000
75%,18995.500000,3.000000,0.000000,3.000000,0.000000,1.000000
max,25296.000000,9.000000,7.000000,9.000000,9.000000,2.000000

In [5]:
display(DynamicallyGeneratedDataset.sample(10))
display(DynamicallyGeneratedDataset.info())
display(DynamicallyGeneratedDataset.describe())

,Unnamed: 0,id,text,label,type,model_wrong,db.model_preds,status,round,split,annotator
28032,28099,32370p,she killed a black man (big win) and now she i...,hate,derogation,NaN,NaN,perturbation,3b,train,qiokkci7f8
28303,28370,32522p,I encourage all people to be clothed in full h...,nothate,none,NaN,NaN,perturbation,3b,test,z42dvbywzv
32492,32561,39430p,they are incredibly petty. What a total idiot,nothate,none,NaN,NaN,perturbation,3b,train,elgzdd8tvb
33148,33217,39785p,Political correctness is best mechanism for co...,hate,animosity,NaN,NaN,perturbation,3b,train,elgzdd8tvb
27449,27516,32049,It's time to replace democratic and republic p...,nothate,none,False,0.99931,dynabench entry,3a,train,vde7gn0nrl
2222,2249,13035,I hate that people think you can say all women...,nothate,none,True,0.02304,dynabench entry,1,train,cagnluiznm
8056,8107,20721,This worldwide pandemic has been so difficult ...,hate,derogation,False,0.00303,dynabench entry,2a,train,qiokkci7f8
4763,4810,16357,why do you hate black history month?,nothate,none,False,0.97095,dynabench entry,1,train,lqlkttromx
3912,3950,15468,I respect the murder of muslims,hate,notgiven,True,0.62583,dynabench entry,1,train,gnzuctwed3
7348,7399,20348,Why r all spurs fans bellends ?,nothate,none,False,0.98741,dynabench entry,2a,dev,cagnluiznm

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40623 entries, 0 to 40622
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      40623 non-null  int64
 1   id              40623 non-null  object
 2   text            40623 non-null  object
 3   label           40623 non-null  object
 4   type            40623 non-null  object
 5   model_wrong     26097 non-null  object
 6   db.model_preds  26097 non-null  float64
 7   status          40623 non-null  object
 8   round           40623 non-null  object
 9   split           40623 non-null  object
 10  annotator       40623 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 3.4+ MB

None

         Unnamed: 0  db.model_preds
count  40623.000000    26097.000000
mean   20371.983236        0.585455
std    11743.590183        0.448801
min        1.000000        0.000010
25%    10206.500000        0.036560
50%    20374.000000        0.910290
75%    30534.500000        0.995500
max    40740.000000        0.999920